[Unit]
Description=Opentrons USB Bridge
Requires=nginx.service
After=nginx.service

[Service]
Type=notify
ExecStart=python3 -m ot3usb
StateDirectory=opentrons-usb-bridge
Environment=PYTHONPATH=/opt/:/usr/lib/python3.8/site-packages
Restart=on-failure
TimeoutStartSec=3min
After=nginx.service
Wants=nginx.service

[Install]
WantedBy=multi-user.target
