[Unit]
Requires=nginx.service
After=nginx.service

[Service]
# Ensure the opentrons-live-stream.env configuration file exists and is accessible
ExecStartPre=/bin/mkdir -p /data
ExecStartPre=/bin/bash -c '[ -f /data/opentrons-live-stream.env ] || echo -e "BOOT_ID=NONE\nSTATUS=OFF\nSOURCE=NONE\nRESOLUTION=1280x720\nFRAMERATE=30\nBITRATE=2000K" > /data/opentrons-live-stream.env'
SuccessExitStatus=3

# Provide defaults and parse the opentrons-live-stream environment file
EnvironmentFile=/data/opentrons-live-stream.env

# Execute the opentrons live stream shell script
ExecStart=/bin/bash -c '/usr/bin/opentrons-live-stream.sh "$BOOT_ID" "$STATUS" "$SOURCE" "$RESOLUTION" "$FRAMERATE" "$BITRATE"'

Restart=on-failure
RestartPreventExitStatus=3
RestartSec=3

[Install]
WantedBy=multi-user.target