[Unit]
Requires=nginx.service
After=nginx.service

[Service]
# Provide configuration values from the opentrons-live-stream environment file
Environment=/lib/systemd/system/opentrons-live-stream/opentrons-live-stream.env
EnvironmentFile=-/data/opentrons-live-stream.env

ExecCondition=/bin/sh -c '[ "$(cat /proc/sys/kernel/random/boot_id)" = "$BOOT_ID" ]'
ExecCondition=/bin/sh -c '[ -e "$SOURCE" ]'
ExecCondition=/bin/sh -c '[ "$STATUS" != "OFF" ]'

# Begin the opentrons-live-stream
ExecStart=/bin/sh -c 'ffmpeg \
        -hwaccel auto \
        -video_size $RESOLUTION \
        -i $SOURCE \
        -flags low_delay \
        -c:v h264_v4l2m2m \
        -b:v $BITRATE \
        -f flv \
        -r $FRAMERATE \
        rtmp://localhost/live/stream'   

Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target