[Unit]
Description=Opentrons Robot HTTP Server
Wants=nginx.service opentrons-pyro-nameserver.service
After=nginx.service opentrons-pyro-nameserver.service
After=opentrons-ot3-canbus
Wants=opentrons-ot3-canbus

[Service]
Type=notify
ExecStart=python3 -m uvicorn robot_server.app:app --uds /run/aiohttp.sock --ws wsproto
StateDirectory=opentrons-robot-server
Environment=OT_API_FF_enableOT3HardwareController=true
Environment=RUNNING_ON_PI=true
Environment=PYTHONPATH=/opt/opentrons-robot-server:/usr/lib/python3.10/site-packages
Environment=OT_ROBOT_SERVER_persistence_directory=%S/opentrons-robot-server
Environment=OT_ROBOT_SERVER_images_directory=/data/images
Environment=OT_ROBOT_SERVER_maximum_unused_protocols=20
Environment=OT_ROBOT_SERVER_maximum_quick_transfer_protocols=20
Restart=on-failure
TimeoutStartSec=10min

[Install]
WantedBy=multi-user.target
