[Unit]
Description=gstd
After=weston@root.service
Requires=weston@root.service
Before=multi-user.target

[Service]
Type=forking
ExecStart=/usr/bin/gstd
Environment="DISPLAY=:0:0" "XDG_SESSION_TYPE=wayland" "XDG_SESSION_DESKTOP=kiosk" "XDG_RUNTIME_DIR=/%t/user/%U"

[Install]
WantedBy=basic.target
