[Unit]
Description=System service for the Python Remote Objects Nameserver
Before=opentrons-robot-server.service
PartOf=opentrons-hardware-api.service opentrons-robot-server.service

[Service]
# Start only when /data/feature_flags.json exists and either subprocess flag is true
ExecCondition=/bin/sh -c 'test -r /data/feature_flags.json && /usr/bin/jq -ne "try ((input.enableHardwareSubprocess == true) or (input.enableProtocolSubprocess == true)) catch false" /data/feature_flags.json'

# Begin the Opentrons Pyro5 Nameserver
ExecStart=/bin/pyro5-ns 

Restart=on-failure
RestartSec=3

# We're using PrivateTmp for its feature of automatically cleaning up if the service crashes.
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
