# This is a template file for an env dump that configures the system
# server in the dockerfile. Before you try to run the docker file,
# copy this to ot3-bootserver.env:
# > cp ot3-bootserver.env.template ot3-bootserver.env
# and modify the settings to match those of your verdin.

# The MAC address of the verdin's ethernet port is required so we can
# make specific dhcp settings for it
export VERDIN_MAC=CHANGEME

# The network iface to run dhcp on. Pick something that is not the same as what
# you use for your other network, or everything _will_ explode.
export IFACE=CHANGEME

# If you're running this on an ubuntu host (or I guess anything else that uses
# AppArmor, which I think is just ubuntu) you need this set, and you also need
# to install lxc from apt to provide some abstractions
export USE_APPARMOR=yes

# Base subnet stub (e.g. the first three octets) for dhcpd to serve. For
# instance, if the network is 192.168.0.0/28 (/28 is the hardcoded size), this
# will be 192.168.0 .
# Make this the one of 10.10.0 (.0) and 192.168.0 (.0) that your actual network isn't
# using.
export DHCP_SUBNET_STUB=CHANGEME
