[Unit]
Description=Opentrons System HTTP Server
Wants=nginx.service
After=nginx.service

[Service]
Type=notify
NotifyAccess=all
ExecStart=python3 -m system_server
StateDirectory=opentrons-system-server
Environment=PYTHONPATH=/opt/opentrons-system-server:/usr/lib/python3.10/site-packages
Environment=OT_SYSTEM_SERVER_persistence_directory=/var/lib/opentrons-system-server
Restart=on-failure
TimeoutStartSec=3min

[Install]
WantedBy=multi-user.target
