[Unit]
Description=Start the Opentrons Robot App
After=weston.service
Requires=weston.service

[Service]
Type=notify
Environment="WAYLAND_DISPLAY=wayland-1"
Environment="XDG_RUNTIME_DIR=/run/user/0"
Environment="DISPLAY=:0:0"
Environment="XDG_SESSION_TYPE=wayland"
Environment="XDG_SESSION_DESKTOP=kiosk"
Environment="PYTHONPATH=/opt/opentrons-robot-server"
ExecStart=/usr/bin/opentrons-robot-app.sh
ExecStartPost=/bin/systemctl stop opentrons-loading.service
ExecStopPost=/bin/systemctl start opentrons-loading.service
TimeoutStartSec=30
TimeoutStopSec=10
ExitType=cgroup
NotifyAccess=all
Restart=always
KillSignal=SIGKILL

[Install]
WantedBy=multi-user.target
