[Unit]
Description=Display loading screen while app not present
Before=opentrons-robot-app.service
Before=multi-user.target
Requires=gstd.service
After=gstd.service

[Service]
Type=simple
ExecStart=/usr/bin/opentrons-loading.sh

[Install]
WantedBy=opentrons-robot-app.service
WantedBy=multi-user.target
