[Unit]
Description=Opentrons update server
Wants=nginx.service
After=nginx.service
Wants=opentrons-auth-server.service
After=opentrons-auth-server.service

[Service]
Type=notify
NotifyAccess=all
ExecStart=python3 -m otupdate.openembedded -p 34000
Environment=PYTHONPATH=/opt/opentrons-update-server:/usr/lib/python3.10/site-packages
Restart=on-failure
TimeoutStartSec=3min

[Install]
WantedBy=multi-user.target
