// SPDX-License-Identifier: Apache-2
/*
 * Copyright 2020-2021 Opentrons
 */

// Verdin DSI to LVDS Adapter with connected ATM0700L61-CT display (7 inch) with a
// resolution of 1024x600 pixel. Semicustom from AZ Displays.

/dts-v1/;
/plugin/;

/ {
    compatible = "toradex,verdin-imx8mm";
};

&backlight {
    status = "okay";
};

&gpu {
    status = "okay";
};

/* Verdin I2C_1 */
&i2c4 {
	status = "okay";
};

&lcdif {
	status = "okay";
};

&lvds_ti_sn65dsi84 {
    status = "okay";
    ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@2 {
			reg = <2>;

			lvds_out_panel: endpoint {
				remote-endpoint = <&panel_in_lvds>;
			};
		};
	};
};

&panel_lvds {
    compatible = "panel-lvds";
    backlight = <&backlight>;
    height-mm = <86>;
    width-mm = <154>;
    status = "okay";
    data-mapping = "vesa-24";

    panel-timing {
        clock-frequency = <51200000>;
        hactive = <1024 1024 1024>;
        hfront-porch = <16 160 216>;
        hback-porch = <160 160 160>;
        hsync-len = <1 70 140>;
        vactive = <600 600 600>;
        vfront-porch = <1 12 127>;
        vback-porch = <23 23 23>;
        vsync-len = <1 10 20>;
        de-active = <1>;
        pixelclk-active = <0>;
    };

	port {
		panel_in_lvds: endpoint {
			remote-endpoint = <&lvds_out_panel>;
		};
	};
};
