// SPDX-License-Identifier: Apache-2
/*
 * Copyright 2020-2021 Opentrons
 */

// Verdin DSI to LVDS Adapter with connected ATM0700L61-CT display (7 inch) with a
// resolution of 1024x600 pixel. Semicustom from AZ Displays.

/dts-v1/;
/plugin/;

/ {
    compatible = "toradex,verdin-imx8mm";
};

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pwm/pwm.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include "verdin-imx8mm_backlight-dsi_overlay.dtsi"
#include "display-lt170410-dsi-lvds_overlay.dtsi"

&{/} {
    panel_lvds: panel-lvds {
		compatible = "panel-lvds";
		data-mapping = "vesa-24";
		height-mm = <86>;
		width-mm = <154>;
		status = "okay";
		backlight = <&backlight_verdin_dsi>;

		port {
			panel_in_lt170410: endpoint {
				remote-endpoint = <&dsi_lvds_bridge_out>;
			};
		};

		panel-timing {
			clock-frequency = <51200000>;
			hactive = <1024 1024 1024>;
			hfront-porch = <16 160 216>;
			hback-porch = <160 160 160>;
			hsync-len = <1 70 140>;
			vactive = <600 600 600>;
			vfront-porch = <1 12 127>;
			vback-porch = <23 23 23>;
			vsync-len = <1 10 20>;
			de-active = <1>;
			pixelclk-active = <0>;
		};
	};
};

&backlight_verdin_dsi {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2s_2_d_out_dsi_1_bkl_en>;
	/* Verdin I2S_2_D_OUT (DSI_1_BKL_EN/DSI_1_BKL_EN_LVDS, SODIMM 46) */
	enable-gpios = <&gpio3 24 GPIO_ACTIVE_HIGH>;
	pwms = <&pwm3 0 6666667 PWM_POLARITY_INVERTED>;
};

&pwm3 {
   status = "okay";
};

/* Verdin I2C_1 */
&i2c4 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	bridge@2c {
		compatible = "ti,sn65dsi84";
		reg = <0x2c>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_10_dsi>;
		/* Verdin GPIO_9_DSI (SN65DSI84 IRQ, SODIMM 17, unused) */
		/* Verdin GPIO_10_DSI (SODIMM 21) */
		enable-gpios = <&gpio3 3 GPIO_ACTIVE_HIGH>;

		status = "okay";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;

				dsi_lvds_bridge_in: endpoint {
					data-lanes = <1 2 3 4>;
					remote-endpoint = <&mipi_dsi_bridge1_out>;
				};
			};

			port@2 {
				reg = <2>;

				dsi_lvds_bridge_out: endpoint {
					remote-endpoint = <&panel_in_lt170410>;
				};
			};
		};
	};
};

/* LCDIF to MIPI-DSI */
&lcdif {
	status = "okay";
};


&mipi_dsi {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	port@1 {
		mipi_dsi_bridge1_out: endpoint {
			attach-bridge;
			remote-endpoint = <&dsi_lvds_bridge_in>;
		};
	};
};

&vpu_g1 {
	status = "okay";
};

&vpu_g2 {
	status = "okay";
};


&vpu_v4l2 {
	status = "okay";
};


/* Verdin I2C_2_DSI */
&i2c2 {
	status = "okay";
};

/* Verdin PWM_3_DSI */
&pwm1 {
	status = "okay";
};

&gpu {
    status = "okay";
};
